<div class="ui-bar ui-bar-a ui-corner-all">
	<%= serverconfig.title %>
</div>
<div class="ui-grid-b ui-responsive">
<%	var wpindex=0;
	if(userprofile && userprofile.webapps){
		for(var i =0; i<userprofile.webapps.length; i++){
			var webapp = userprofile.webapps[i];
			if(webapp.webappsetting && webapp.webappsetting.mobile && !webapp.disabled){
				if(!webapp.webappsetting.mobilesetting)
					webapp.webappsetting.mobilesetting={};
					
			var _defaulturi = webapp.webappsetting.mobilesetting.defaulturi || webapp.webappsetting.defaulturi;
			if(_defaulturi && _defaulturi.indexOf("#") != 0)
				_defaulturi = '#' + _defaulturi;
	%>
	<div class="ui-block-<%= wpindex++%3 == 0 ? "a" : wpindex%3 == 1 ? "b" : "c"%>">
		<a class="app-icon" data-panellink="true" data-role="button" href="<%= _defaulturi %>">
			<img style="max-height:85px;" alt="<%= webapp.id %>" src="<%= webapp.icon ? (webapp.webappuri) + webapp.icon : '/icons/plugin.png' %>" class="img-rounded" />
			<strong><%= userprofile.webapps[i].title %></strong>
		</a>
	</div>
<%		}
	}
}
%>
</div>