<ol class="breadcrumb">
	<li><%%= getMessage("service-setting") %> &raquo; (<%= serviceconfig.modelname %>)<li>
</ol>
<% if(typeof configuration !== "undefined") {%>
<table class="table table-striped table-responsive">
	<tbody>
		<%for( var fieldIndex in configuration.modelfields){
			var modelfield = configuration.modelfields[fieldIndex];
		
			var fieldsetting = {};
			if(configuration && typeof configuration.modelsettings !== 'undefined')
		 		fieldsetting = configuration.modelsettings[modelfield.field];
		if(modelfield.type == "array" || modelfield.type == "object"){
		%>
			<tr>
				<td colspan="2">
					<b>
						<%%= getMessage("<%= modelfield.field %>") %%>>
					</b>
					<hr/>
					<div id="<%= modelfield.field %>_list_container" class="<%= fieldsetting && fieldsetting.html && fieldsetting.html.cssclass%>" <%= fieldsetting && fieldsetting.html && fieldsetting.html.display ? "style=display:none;" :""%>></div>
				</td>
			</tr>
		<%} else {%>
			<tr>
				<th  width='30%'><%%= getMessage("<%= modelfield.field %>") %%>></th>
				<td>
					<%% if(typeof <%= modelfield.field %> === "object"){%%>>
						<%%= JSON.stringify(<%= modelfield.field%>) %%>>
					<%%}else if(typeof <%= modelfield.field %> !== "undefined"){%%>>
						<%%= <%= modelfield.field %> %%>>
					<%%}%>
				</td>										
			</tr>	
		<%}}%>
	</tbody>
</table>
<%}%>