<div class="modal fade" id="<%= name %>_Modal" tabindex="-1" role="dialog" aria-labelledby="<%= name %>_ModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="<%= name %>_ModalLabel"><%= name %></h4>
      		</div>
      		<div class="modal-body">
			<%- include(bodytemplate) %>
      		</div>
     	</div>
	</div>
</div>