<nav class="navbar navbar-<%=themeconfig && themeconfig.preference ?  themeconfig.preference.headercolorscheme : 'default' %> navbar-fixed-top header-navigation">
	<%- include(templatedir + "/header.html.ejs" ) %>
</nav>
<!-- Content container -->
<div class="container-fluid content">
	<div class="row notification" id="notification">
		<div class="col-sm-12">
			<div id="curtime" class='pull-right'>
				<i class='glyphicon glyphicon-time'></i> <span class='time'><script>document.write((new Date()).toLocaleDateString() + ' ' + (new Date()).toLocaleTimeString())</script></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 main" id="main" role="main" <%= typeof webpage !== 'undefined' ? 'data-staticpage=true' : ''%>>
			<%if(typeof bodytemplate !== "undefined" && bodytemplate){%>
				<%= bodytemplate %>
				<%- include(bodytemplate) %>
			<%}else{%><div class='loading'></div><%}%>
		</div>
	</div>
</div>
<!--  footer content -->
<div class="navbar navbar-fixed-bottom footer">
	<%- include(templatedir+ "/footer.html.ejs") %>
</div>